<html>
<body>
<h1>Ansible Island Challenge</h1>
<h1>Treasure Hunt web server challenge </h1>
<h1>{{ name }}, has just escaped the island on a {{ cpu_arch }} powered {{ os_family }} helicopter </h1>
</body>
</html>
